{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% load i18n %}

{% block title %}Agregar alimento{% endblock title %}

{% block content %}
    <br>
    {% language 'es' %}
    <p class="h5">Agregar alimentos al diario del {{ diario.fecha }}</p>
    {% endlanguage %}


  <form action="" method="get">
    {{ filterset.form.as_p }}
    <button class="btn-sm btn-primary  text-uppercase mt-5"  type="submit">Buscar</button>
  </form>
  <br>

<form method="POST" name="alimentosform">
    {% csrf_token %}

<!--table prueba-->

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
  <div class="tm-bg-primary-dark tm-block tm-block-products">
    <div class="tm-product-table-container">
      <table class="table table-hover tm-table-small tm-product-table mb-2">
        <thead>
          <tr>
              
            <th scope="col">&nbsp;</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Calorias</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>

          {% for i in alimentos  %}
          <tr>
            <th scope="row">
              <input title='Marque para agregar' type="checkbox" class="checkbox-{{ forloop.counter }}" 
              name="cb_alimento" id="cb_alimento-{{ forloop.counter }}" 
              value="{{ i.id }}" /> 
            </th>
            <td class="tm-product-name">{{ i.nombre }}</td>
            <td>{{ i.marca }}</td>
            <td >{{ i.calorias }}</td>
            
            <td>

              <input title='Ingrese la cantidad en gramos' 
              type="number"
              placeholder="Cantidad" 
              name="cantidad" 
              id="cantidad" 
              min="1" 
              oninput="this.value = 
             !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
           
            </td>

          </tr>
          {% empty %}
              No se han encontrado alimentos
          {% endfor %}
        </tbody>
      </table>
    </div>

      {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a href="?{% param_replace page=1 %}">Primera</a>
          {% if page_obj.previous_page_number != 1 %}
            <a href="?{% param_replace page=page_obj.previous_page_number %}">Anterior</a>
          {% endif %}
        {% endif %}

        Pagina {{ page_obj.number }} de {{ paginator.num_pages }}

        {% if page_obj.has_next %}
          {% if page_obj.next_page_number != paginator.num_pages %}
            <a href="?{% param_replace page=page_obj.next_page_number %}">Siguiente</a>
          {% endif %}
          <a href="?{% param_replace page=paginator.num_pages %}">Ultima</a>
        {% endif %}

        <p>Resultados {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
      {% endif %}


    <!-- table container -->
    <button class="btn btn-primary  text-uppercase mt-2 mb-5"  type="submit" >Agregar seleccionado</button>
  </div>
</div>

<!-- fin table prueba-->

</form>

{% endblock content %}

{% block js %}

<script type="text/javascript" src="{% static 'vue/vue.js' %}">  </script>
<script type="text/javascript"  src="{% static 'vue/axios.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vue/apps/buscarAlimento.js' %}">  </script>

{% endblock js %}