{% extends 'base.html' %}
{% load static %}
{% block title %}Lista alimentos{% endblock title %}
{% block navbar_secundaria %}
{% endblock navbar_secundaria %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-auto mb-3">
        
{% if messages %}
  {% for message in messages  %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
             <p class="text-center"> {{ message }}</p>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
             <p class="text-center"> {{ message }}</p>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
             <p class="text-center"> {{ message }}</p>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

  {% endfor %}
{% endif %}
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-products">
      <div class="tm-product-table-container">
        <table class="table table-hover tm-table-small tm-product-table">
          <thead>
            <tr>
                
              <th scope="col">&nbsp;</th>
              <th scope="col">Nombre</th>
              <th scope="col">Marca</th>
              <th scope="col">Calorías (Kg)</th>
              <th scope="col"></th>
              <th scope="col"></th>
              
              
            </tr>
          </thead>
          <tbody>

            {% for i in alimentos  %}
            <tr>
              <th scope="row"><!--<input type="checkbox" />--></th>
              <td class="tm-product-name">{{ i.nombre }}</td>
              <td>{{ i.marca }}</td>
              <td >{{ i.calorias }}</td>
              
              <td>
                <a title="Editar" href="{% url 'alimentos_urls:editaralimento' i.id %}">
                 <img src="{% static 'iconos/modificar.svg' %}" width="18" height="24" alt="icono-editar">
                </a>
              </td>
              <td>
                <a title="Borrar" href="{% url 'alimentos_urls:eliminaralimento' i.id %}">                 
                 <img src="{% static 'iconos/eliminar.svg' %}" width="18" height="24" alt="icono-eliminar">
                </a>
              </td>
            </tr>
            {% empty %}
                Todaviía no has cargado ningún alimento
            {% endfor %}

          </tbody>
        </table>
      </div>
      <!-- table container -->
      <a 
      href="{% url 'alimentos_urls:agregaralimento' %}" class="btn btn-primary btn-block text-uppercase mt-5">
      Agregar nuevo alimento
     </a>

     <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            {% if is_paginated %}
                <nav aria-label="123">
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Atras</a></li>
                        {% endif %}
    
                        {% for pagina in paginator.page_range  %}
                        {% if pagina == page_obj.number %}
    
                        <li class="page-item active"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li>
    
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li>
    
                        {% endif %}
                        
                        {% endfor %}
    
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div> 
    </div>
    </div>
  </div>

{% endblock content %}
