{% extends 'base.html' %}
{% block title %}Preguntas frecuentes{% endblock title %}


{% block content %}
    <p class="h1">FAQ</p>
    <br>
    <div id="accordion">
    
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          ¿Cuánto debo darle de comer a mi mascota?
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Las pautas de alimentación varían, según la edad, el tamaño o el peso de la mascota. Use una báscula adecuada y/o una taza medidora. 
        Asegúrese siempre de medir los alimentos con mucho cuidado. 
        Una pequeña variación de medición cuando se alimenta a gatos y perros pequeños puede aumentar significativamente su consumo de calorías.
        <br>
        Se recomienda dividir las comidas en dos o tres a lo largo del día.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Cómo debo guardar la comida de mis mascotas?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Los alimentos secos deben guardarse en sus bolsas originales y volver a cerrarse entre comidas. La mayoría de las bolsas pequeñas incluyen un cierre resellable. Si la bolsa no lo posee, se recomienda mantener el producto en la bolsa original y guardarlo en un recipiente seco, hermético de plástico o acero con tapa.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Está bien alimentar a mi gatito/cachorro con comida para adultos?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Para cualquier perro o gato, para obtener el mejor equilibrio nutricional, siempre se recomienda alimentarlos con alimentos especialmente formulados para su edad.  
      </div>
    </div>
  </div>

</div>



<!-- todo lo que este debajo de esto se va al fondo -->



{% endblock content %}