{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Bienvenido</title>
</head>
<body class="landing">

  

<div class="infobox">
  <h2>DAM</h2>
  
  <p>
  Bienvenido al Diario alimenticio de Mascotas, 
  </p>
  <br>
  <form method="GET" action="{% url 'users_app:registraruser' %}">
  <h4>¿No tiene cuenta?, registrese</h4>
  <button >Registrarse</button>
  </form>
  <h4>¿Tiene cuenta?, acceda</h4>
  <form method="GET" action="{% url 'users_app:loginuser' %}">
  <button >Acceder</button>
  </form>
  <br>
 
  <br>
  </div>
  
  
  
</body>
</html>