{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% block title %}Perfil mascotas{% endblock title %}

{% block content %}

{% if messages %}
  {% for message in messages  %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %} 

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

  {% endfor %}
{% endif %}





<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/perfilmascota.css' %}">
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="{{ mascota.imagen.url }}">
                  <!--<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">-->
                  {% if mascota.imagen  %}
                  <img src="{{ mascota.imagen.url }}" alt="123">
                    {% else %}
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                  {% endif %}
              </a>
              <h1>{{ mascota.nombre }}</h1>
              <p>{{ mascota.tipo }}</p>
          </div>

            <ul class="nav flex-column mt-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                    href="{% url 'diario_urls:verdiario' mascota.id %}">Diario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    href="{% url 'mascotas_urls:panelmascota' mascota.id %}">Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    href="{% url 'mascotas_urls:reportes' mascota.id %}">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    href="{% url 'mascotas_urls:notas' mascota.id %}">Agregar nota</a>
                </li>
            </ul>

      </div>
  </div>

  <div class="profile-info col-md-9">
      <div class="panel">
          <div class="bio-graph-heading">
              Bienvenido al perfil de su mascota, aqui encontrara toda su información relevante.
          </div>
          <div class="panel-body bio-graph-info mt-4">
              <h1>Biografía mascota</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>Nombre</span>: {{ mascota.nombre }}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Tamaño </span>: {{ mascota.tamaño }}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Raza </span>: Proximamente</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Edad</span>: {{ mascota.edad }} Meses</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Peso</span>: {{ mascota.peso }} Kilos</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Actividad </span>: {{ mascota.actividad }}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Meta calorias </span>: {{ mascota.meta }}</p>
                  </div>
                  
                  <div class="bio-row">
                      <p><span>Objetivo </span>: {{ mascota.objetivo }}</p>
                  </div>
              </div>
          </div>
      </div>
  <p class="h4 mb-3"><strong>Notas</strong></p>
  <p class="h6">Ingrese la fecha de inicio y la fecha de fin</p>
  <form action="" method="get">
    {{ filterset.form.as_p }}
    <button class="btn-sm border-0" style="background-color: #70E000;"  type="submit">Buscar</button>
  </form>


<div id="accordion">
<br>


    {% if notas %}
  
    Aqui estan sus notas:
    <br>
    



        {% for object in object_list  %}
        
            <div class="card mt-3 mb-4 ">
                <!--para cambiarle los colores a las cabeceras de las notas -->

                    {% if object.importancia == "Normal" %}
                        <div class="card-header p-3 mb-2 bg-primary " id="headingOne">
                    {% elif object.importancia == "Moderada" %}
                        <div class="card-header p-3 mb-2 bg-warning text-dark" id="headingOne">
                    {% elif object.importancia == "Alta" %}
                        <div class="card-header p-3 mb-2 bg-danger text-dark" id="headingOne">
                    
                {% endif %} 
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" 
                    aria-expanded="true" aria-controls="collapseOne">
                    {{ object.fecha }} <a title="Borrar" href="{% url 'mascotas_urls:borrarnota' object.id  %}">
                   
                    </button>
                     <img src="{% static 'iconos/cesto.svg' %}" title="Archivar" width="18" height="18">
                    </a>
                </h5>
                </div>

                <div id="collapse{{forloop.counter}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        {% if object.importancia == "Normal" %}
                            <p class="text-primary">{{ object.texto }}</p>
                        {% elif object.importancia == "Moderada" %}
                            <p class="text-warning">{{ object.texto }}</p>
                        {% elif object.importancia == "Alta" %}
                            <p class="text-danger">{{ object.texto }}</p>
                        {% endif %} 

                        
                    </div>
                </div>
            </div>
        
        {% endfor %}

        {% if is_paginated %}
            <nav aria-label="123">
                <ul class="pagination pagination-sm mt-3">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">Primera</a></li>
                    {% if page_obj.previous_page_number != 1 %}
                <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Atras</a></li>
                    {% endif %}
                {% endif %}

            

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Siguiente</a></li>
                {% endif %}
                <li class="page-item">
                <a class="page-link" href="?{% param_replace page=paginator.num_pages %}">Ultima</a></li>
            {% endif %}

            <!--<p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>-->
                </ul>
            </nav>
        {% endif %}


    {% else %}
    No hay notas

    {% endif %}


  </div>
</div>

  </div>
</div>
</div>


{% endblock content %}
