{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil mascotas{% endblock title %}
{% block navbar_secundaria %}
{% include 'includes/navbarmascotas.html' %}
{% endblock navbar_secundaria %}

{% block content %}

{% if messages %}
  {% for message in messages  %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %} 

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

  {% endfor %}
{% endif %}





<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/perfilmascota.css' %}">
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <!--<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">-->
                  {% if mascota.imagen  %}
                  <img src="{{ mascota.imagen.url }}" alt="123">
                    {% else %}
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                  {% endif %}


              </a>
              <h1>{{ mascota.nombre }}</h1>
              <p>{{ mascota.tipo }}</p>
          </div>

            <ul class="nav flex-column mt-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                    href="{% url 'diario_urls:verdiario' mascota.id %}">Diario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    href="{% url 'mascotas_urls:panelmascota' mascota.id %}">Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    href="{% url 'mascotas_urls:reportes' mascota.id %}">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                    href="{% url 'mascotas_urls:notas' mascota.id %}">Agregar nota</a>
                </li>
            </ul>

      </div>
  </div>

  <div class="profile-info col-md-9">
      <div class="panel">
          <div class="bio-graph-heading">
              Bienvenido al perfil de su mascota, aqui encontrara toda su información relevante.
          </div>
          <div class="panel-body bio-graph-info mt-4">
              <h1>Biografía mascota</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>Nombre</span>: {{ mascota.nombre }}</p>
                  </div>
                  <!--<div class="bio-row">
                      <p><span>Tipo</span>: Perro</p>
                  </div>-->
                  <div class="bio-row">
                      <p><span>Tamaño </span>: {{ mascota.tamaño }}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Raza </span>: Dogo</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Edad</span>: {{ mascota.edad }} Meses</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Peso</span>: {{ mascota.peso }} Kilos</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Actividad </span>: {{ mascota.actividad }}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Meta calorias </span>: {{ mascota.meta }}</p>
                  </div>
                  
                  <div class="bio-row">
                      <p><span>Objetivo </span>: {{ mascota.objetivo }}</p>
                  </div>
              </div>
          </div>
      </div>


<div id="accordion">
<br>


    {% if notas %}
    Aqui estan sus notas:
        {% for nota in notas  %}
        
            <div class="card ">
                <!--para cambiarle los colores a las cabeceras de las notas -->

                    {% if nota.importancia == "Normal" %}
                        <div class="card-header p-3 mb-2 bg-primary " id="headingOne">
                    {% elif nota.importancia == "Moderada" %}
                        <div class="card-header p-3 mb-2 bg-warning text-dark" id="headingOne">
                    {% elif nota.importancia == "Alta" %}
                        <div class="card-header p-3 mb-2 bg-danger text-dark" id="headingOne">
                    
                {% endif %} 
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" 
                    aria-expanded="true" aria-controls="collapseOne">
                    {{ nota.fecha }} <a title="Borrar" href="#">
                   
                    </button>
                     <img src="{% static 'iconos/cesto.svg' %}" width="18" height="18">
                    </a>
                </h5>
                </div>

                <div id="collapse{{forloop.counter}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        {% if nota.importancia == "Normal" %}
                            <p class="text-primary">{{ nota.texto }}</p>
                        {% elif nota.importancia == "Moderada" %}
                            <p class="text-warning">{{ nota.texto }}</p>
                        {% elif nota.importancia == "Alta" %}
                            <p class="text-danger">{{ nota.texto }}</p>
                        {% endif %} 

                        
                    </div>
                </div>
            </div>
        
        {% endfor %}
    {% else %}
    No hay notas

    {% endif %}


  </div>
</div>

    
   




  </div>
</div>
</div>







{% endblock content %}
