{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% block title %}Perfil{% endblock title %}

{% block content %}

{% if messages %}
  {% for message in messages  %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %} 

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

  {% endfor %}
{% endif %}

<div class="container mt-5">
   
    <!-- row -->
    <div class="row tm-content-row">
        
      <div class="tm-block-col tm-col-avatar">
        <div class="tm-bg-primary-dark tm-block tm-block-avatar">
          <h2 class="tm-block-title">Perfil </h2>
          
          
          <div class="tm-avatar-container">
            {% if mascota.imagen  %}
            <img
              src="{{mascota.imagen.url}}"
              alt="Avatar"
              class="tm-avatar img-fluid mb-4"
            />
            {% else %}
            <img
              src="https://bootdey.com/img/Content/avatar/avatar3.png"
              alt="Avatar"
              class="tm-avatar img-fluid mb-4"
            />
            {% endif %}

          </div>

          <a class="btn btn-primary btn-block text-uppercase" 
          href="{% url 'diario_urls:verdiario' mascota.id %}">
              Diario
          </a>

          <a class="btn btn-primary btn-block text-uppercase" 
          href="{% url 'mascotas_urls:panelmascota' mascota.id %}">
          Panel
         </a>

          <a class="btn btn-primary btn-block text-uppercase" 
          href="{% url 'mascotas_urls:reportes' mascota.id %}">
          Reportes
         </a>

          <a class="btn btn-primary btn-block text-uppercase" 
          href="{% url 'mascotas_urls:notas' mascota.id %}">
          Agregar nota
         </a>
          
        </div>
      </div>
      
      <div class="tm-block-col tm-col-account-settings">
        <div class="tm-bg-primary-dark tm-block tm-block-settings">
          <h2 class="tm-block-title">Información</h2>

            <div class="form-group col-lg-6">
              <label for="name">
                  Nombre 
                  {{ mascota.nombre }}
              </label> 
            </div>

            <div class="form-group col-lg-6">
                <label for="name">
                    Tamaño 
                    {{ mascota.tamaño }}
                </label> 
            </div>

            <div class="form-group col-lg-6">
                <label for="name">
                    Edad 
                    {{ mascota.edad }}
                    Meses
                </label> 
            </div>
            
            <div class="form-group col-lg-6">
                <label for="name">
                    Peso 
                    {{ mascota.peso }}
                    Kg
                </label> 
            </div>

            <div class="form-group col-lg-6">
                <label for="name">
                    Actividad 
                    {{ mascota.actividad }}
                </label> 
            </div>

            <div class="form-group col-lg-6">
                <label for="name">
                    Meta diaria 
                    {{ mascota.meta }}
                    Calorías
                </label> 
            </div>

            <div class="form-group col-lg-6">
                <label for="name">
                    Objetivo 
                    {{ mascota.objetivo }}
                </label> 
            </div>
   
       
        </div>
      </div>

      <div class="tm-block-col tm-col-account-settings">
        <div class="tm-bg-primary-dark tm-block tm-block-settings">

             <p class="h4 mb-3"><strong>Notas</strong></p>
  <p class="h6">Ingrese la fecha de inicio y la fecha de fin</p>
  <form action="" method="get">
    {{ filterset.form.as_p }}
    
    <button class="btn-sm btn-primary text-uppercase"   type="submit">Buscar</button>
  </form>


<div id="accordion">
<br>


    {% if notas %}
  
    Aqui estan sus notas:
    <br>
    



        {% for object in object_list  %}
        
            <div class="card mt-3 mb-4 ">
                <!--para cambiarle los colores a las cabeceras de las notas -->

                    {% if object.importancia == "Normal" %}
                        <div class="card-header p-3 mb-2 bg-primary " id="headingOne">
                    {% elif object.importancia == "Moderada" %}
                        <div class="card-header p-3 mb-2 bg-warning text-dark" id="headingOne">
                    {% elif object.importancia == "Alta" %}
                        <div class="card-header p-3 mb-2 bg-danger text-dark" id="headingOne">
                    
                {% endif %} 
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" 
                    aria-expanded="true" aria-controls="collapseOne">
                    {{ object.fecha }} <a title="Borrar" href="{% url 'mascotas_urls:borrarnota' object.id  %}">
                   
                    </button>
                     <img src="{% static 'iconos/cesto.svg' %}" title="Archivar" width="18" height="18">
                    </a>
                </h5>
                </div>

                <div id="collapse{{forloop.counter}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        {% if object.importancia == "Normal" %}
                            <p class="text-primary">{{ object.texto }}</p>
                        {% elif object.importancia == "Moderada" %}
                            <p class="text-warning">{{ object.texto }}</p>
                        {% elif object.importancia == "Alta" %}
                            <p class="text-danger">{{ object.texto }}</p>
                        {% endif %} 

                        
                    </div>
                </div>
            </div>
        
        {% endfor %}

        {% if is_paginated %}
            <nav aria-label="123">
                <ul class="pagination pagination-sm mt-3">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">Primera</a></li>
                    {% if page_obj.previous_page_number != 1 %}
                <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Atras</a></li>
                    {% endif %}
                {% endif %}

            

            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Siguiente</a></li>
                {% endif %}
                <li class="page-item">
                <a class="page-link" href="?{% param_replace page=paginator.num_pages %}">Ultima</a></li>
            {% endif %}

            <!--<p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>-->
                </ul>
            </nav>
        {% endif %}


    {% else %}
    No hay notas

    {% endif %}
   
       
        </div>
      </div>
      
    </div>
  </div>


  </div>
</div>




{% endblock content %}
