{% extends 'base.html' %}

{% block navbar_secundaria %}
{% include 'includes/navbarmascotas.html' %}
{% endblock navbar_secundaria %}

{% load crispy_forms_tags %}
{% block title %}Registrar mascota{% endblock title %}

{% block content %}


    
<br>
    <div class="container-fluid">
        <p class="h4">Registrar mascota<p>
            <div class="row justify-content-start"> 
                <div class="col-auto" style="width:35%">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
    </div>


{% endblock content %}