{% extends 'base.html' %}
{% load i18n %}
{% block navbar_secundaria %}
    {% if not diario %}
    {% include 'includes/navbarmascotas.html' %}
    {% else %}
    {% include 'includes/navbarbarmascdiarios.html' %}
    {% endif %}
{% endblock navbar_secundaria %}
{% load static %}




{% block title %}Detalle diario{% endblock title %}

{% block content %}

<br>
{% language 'es' %}
<div class="container-fluid">
  <div class="row justify-content-center"> 
    <form id="formAtras" method="GET"  >
      <button title="Día anterior" 
      type="submit" class="btn btn-success">&laquo;</button>
      <input type="hidden" name="ir" value="atras">  
    </form>
      <div class="col-auto">
          <p class="h2" style="background-color: #D8DFEE ">
            Diario del dia {{ diario.fecha }} 
          </p>
      </div>
        <form id="formSiguiente" method="GET" >
          <button title="Día siguiente" 
          type="submit" class="btn btn-success">&raquo;</button>
          <input type="hidden" name="ir" value="adelante">    
        </form>

        <div class="container-fluid mt-2">
          <div class="row justify-content-center">
              <div title='Selecciona la fecha del diario que desea ir' class="col-auto mb-2">
                  <form id="formSelectorFecha" method="GET">
                      <p class="h6  mb-1">O seleccione una fecha</p>
                      <input type="date" name="selectorFecha" id="selectorFecha" >
                      <button type="submit" class="btn-sm btn-primary" >Ir</button>
                      <input type="hidden" name="ir" value="fechaSeleccionada">         
                  </form>
              </div>
          </div>
      </div>


  </div>
    



</div>
{% endlanguage %}


{% if messages %}
  {% for message in messages  %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}


  {% endfor %}
{% endif %}

<br>
<table class="table table-borderless">
  <thead >
    <tr class="table " style="background-color: #f7e4f7 " >
      <th class="text-center" style="width:40%" >Comida</th>
      <th class="text-center" style="width:30%">Calorias</th>
      <th class="text-center" style="width:15%"> </th>
      <th class="text-center" style="width:15%"></th>
    </tr>
  </thead>
  <tbody>
    {% for i in comidas  %}
    <tr class="table" style="background-color: #D8DFEE ">
     
      <td align="center" style="font-size:14px;">{{ i.alimento.marca }}, 
      {{ i.alimento.nombre }}, {{ i.cantidad }}  gramos
      </td>
      

      <td align="center" style="font-size:14px;">{{ i.total_cal }}</td>
      
      <td align="center" style="font-size:14px;">
        <a title="Editar" href="{% url 'diario_urls:editalimento' i.id %}">
        <img src="{% static 'iconos/modificar.svg' %}" width="18" height="18">
        </a>
      </td>

      <td align="center" style="font-size:14px;">
        <a title="Borrar" href="{% url 'diario_urls:eliminaralimento' i.id %}">
        <img src="{% static 'iconos/eliminar.svg' %}" width="18" height="18">
        </a>
      </td>

    </tr>

    {% endfor %}
  </tbody>
</table>
<a class="btn btn-success" href="{% url 'alimentos_urls:listar-alimentos' diario.id %}">Agregar comida</a>

<div class="container-fluid">
    <div class="row justify-content-center"> 
      <div class="col-auto">
        <table class="table">
          <thead >
            <tr class="table table-borderless">
              <th scope="col">Calorias</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td>Total</td>
              <td id="tdtotalcal">{{ diario.total_cal }}</td>
            </tr>
            <tr class="table-secondary">
              <td>Meta</td>
              <td id="tdmeta">{{ mascota.meta }} </td>
            </tr>
            <tr class="table-secondary">
              <td>Restantes</td>
              <td id="tdresto"></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<br>
<form method="post">
<div class="container-fluid">

  <div class="row justify-content-center"> 
    
    <div class="col-auto">
      
        {% csrf_token %}
        
        {% if diario.completado %}
          <button class="btn-sm btn-success mb-3" type="submit">Modificar diario</button>
          <input type="hidden" name="completar" id="completar" value="modificar">
        {% else %}
          <div class="row justify-content-center">
          
          <!-- paso fecha y peso del día para llevar un registro -->
          <label title="Actualización de peso opcional" for="peso">Peso mascota :&nbsp;</label>
          <input title="Actualización de peso opcional" type="number" name="peso" id="peso" min="1" max="1000" value="0" step=".01" size="5" >
          <!--<input type="hidden" name="fecha" id="fecha" value=" {{ diario.fecha }} ">-->
          </div>
          <button class="btn-sm btn-success mb-3 mt-3 ml-3" type="submit">Completar diario</button>
          <input type="hidden" name="completar" id="completar" value="completar">
          <input type="hidden" name="difcal" id="difcal" value="1">
          
          
        {% endif %}

      
    </div>
  </div>
</div>
</form>



{% block scripts %}
<script type="text/javascript">
window.onload = function difCalorias() {
                  let totalcal = document.getElementById ( "tdtotalcal" ).innerText;
                  let meta = document.getElementById ( "tdmeta" ).innerText;
                  let resultado = Number(meta) - Number(totalcal);
                  document.getElementById("tdresto").innerText=resultado;
                  if (resultado<0){
                      console.log('te pasaste')
                      document.getElementById("tdresto").style.color = "red";
                  }
                  else if(resultado>=0){
                    console.log('vas bien')
                    document.getElementById("tdresto").style.color = "green";
                  };
                  
                }

</script>

{% endblock scripts %}



{% endblock content %}