{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Detalle diario{% endblock title %}

{% block content %}

<br>
{% language 'es' %}
<div class="container-fluid">
  <div class="row justify-content-center"> 

    <form id="formAtras" method="GET"  >
      <button title="Día anterior" 
      type="submit" class="btn btn-success">&laquo;</button>
      <input type="hidden" name="ir" value="atras">  
    </form>
      <div class="col-auto">
          <p class="h2" style="background-color: #D8DFEE ">
            Diario del dia {{ diario.fecha }} 
          </p>
      </div>
        <form id="formSiguiente" method="GET" >
          <button title="Día siguiente" 
          type="submit" class="btn btn-success">&raquo;</button>
          <input type="hidden" name="ir" value="adelante">    
        </form>

        <div class="container-fluid mt-2">
          <div class="row justify-content-center">
              <div title='Selecciona la fecha del diario que desea ir' class="col-auto mb-2">
                  <form id="formSelectorFecha" method="GET">
                      <p class="h6  mb-1">O seleccione una fecha</p>
                      <input type="date" name="selectorFecha" id="selectorFecha" >
                      <button type="submit" class="btn-sm btn-primary" >Ir</button>
                      <input type="hidden" name="ir" value="fechaSeleccionada">         
                  </form>
              </div>
          </div>
        </div>

  </div>
</div>
{% endlanguage %}


{% if messages %}
  {% for message in messages  %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
              
              {{ message }} <br>
              
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<br>
<!--tabla prueba -->
<div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
  <div class="tm-bg-primary-dark tm-block tm-block-products">
    <div class="tm-product-table-container">
      <table class="table table-hover tm-table-small tm-product-table">
        <thead>
          <tr>
              
            <th scope="col">&nbsp;</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Calorias</th>
            <th scope="col"></th>
            <th scope="col"></th>
            
            
          </tr>
        </thead>
        <tbody>

          {% for i in comidas  %}
          <tr>
            <th scope="row"><!--<input type="checkbox" />--></th>
            <td class="tm-product-name">{{ i.alimento.nombre }}</td>
            <td>{{ i.alimento.marca }}</td>
            <td >{{ i.total_cal }}</td>
            
            <td>
              <a title="Editar" href="{% url 'diario_urls:editalimento' i.id %}">
               <img src="{% static 'iconos/modificar.svg' %}" width="18" height="24" alt="icono-editar">
              </a>
            </td>
            <td>
              <a title="Borrar" href="{% url 'diario_urls:eliminaralimento' i.id %}">                 
               <img src="{% static 'iconos/eliminar.svg' %}" width="18" height="24" alt="icono-eliminar">
              </a>
            </td>
          </tr>
          {% empty %}
              Todaviía no has cargado ningún alimento
          {% endfor %}

        </tbody>
      </table>
    </div>
    <!-- table container -->
    <a 
    href="{% url 'alimentos_urls:listar-alimentos' diario.id %}" class="btn btn-primary  text-uppercase mt-5">
    Agregar nuevo alimento
   </a>
  </div>
</div>
<!--fin tabla prueba-->

<div class="container-fluid">
    <div class="row justify-content-center"> 
      <div class="col-auto">

        <table class="table">
          <thead >
            <tr class="table table-borderless">
              <th scope="col">Calorias</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td>Total</td>
              <td id="tdtotalcal">{{ diario.total_cal }}</td>
            </tr>
            <tr class="table-secondary">
              <td>Meta</td>
              <td id="tdmeta">{{ mascota.meta }} </td>
            </tr>
            <tr class="table-secondary">
              <td>Restantes</td>
              <td id="tdresto"></td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
</div>

<br>


<div class="container-fluid">
  <div class="row justify-content-center"> 
    <div class="col-auto">
      <form method="post">
        {% csrf_token %}
        
        {% if diario.completado %}
          <button class="btn-sm btn-success mb-3" type="submit">Modificar diario</button>
          <input type="hidden" name="completar" id="completar" value="modificar">
        {% else %}
            <div class="row justify-content-center">
            
              <!-- paso fecha y peso del día para llevar un registro -->
              <label title="Actualización de peso opcional" for="peso">Peso mascota :&nbsp;</label>
              <input title="Actualización de peso opcional" type="number" name="peso" id="peso" min="0" max="1000" value="0" step=".01" size="5" >
              <!--<input type="hidden" name="fecha" id="fecha" value=" {{ diario.fecha }} ">-->
            </div>
          <button class="btn-sm btn-success mb-3 mt-3 ml-3" type="submit">Completar diario</button>
          <input type="hidden" name="completar" id="completar" value="completar">
          <input type="hidden" name="difcal" id="difcal" value="1">
          
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% block scripts %}
<script type="text/javascript">
window.onload = function difCalorias() {
                  let totalcal = document.getElementById ( "tdtotalcal" ).innerText;
                  let meta = document.getElementById ( "tdmeta" ).innerText;
                  let resultado = Number(meta) - Number(totalcal);
                  document.getElementById("tdresto").innerText=resultado;
                  if (resultado<0){
                      console.log('te pasaste')
                      document.getElementById("tdresto").style.color = "red";
                  }
                  else if(resultado>=0){
                    console.log('vas bien')
                    document.getElementById("tdresto").style.color = "green";
                  };
                  
                }

</script>

{% endblock scripts %}



{% endblock content %}
