{% extends 'base.html' %}
{% block navbar_secundaria %}
    {% if not diario %}
    {% include 'includes/navbarmascotas.html' %}
    {% else %}
    {% include 'includes/navbarbarmascdiarios.html' %}
    {% endif %}
{% endblock navbar_secundaria %}
{% load crispy_forms_tags %}

{% block title %}Editar alimento{% endblock title %}

{% block content %}
    <br>
    <form action="#" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Guardar</button>
    </form>
{% endblock content %}
