{% extends 'base.html' %}
{% load i18n %}
{% block navbar_secundaria %}
{% include 'includes/navbarmascotas.html' %}
{% endblock navbar_secundaria %}
{% block title %}Diarios{% endblock title %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-auto mb-3">
        
{% if messages %}
  {% for message in messages  %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
             <p class="text-center"> {{ message }}</p>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <br>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
          <strong>
             <p class="text-center"> {{ message }}</p>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
      <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
             <p class="text-center"> {{ message }}</p>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

  {% endfor %}
{% endif %}
        </div>
    </div>
</div>

<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        <div title='Selecciona la fecha del diario que desea ir' class="col-auto mb-4">
            <form method="POST">
                {% csrf_token %}
                <p class="h5 text-center mb-3">Seleccione una fecha</p>
                <input type="date" name="selectorFecha" id="selectorFecha" >
                <button type="submit" class="btn-sm btn-primary" >Ir</button>      
            </form>
        </div>
    </div>
</div>

{% endblock content %}
